<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>Scss</title>
</head>
<body>
	<!-- (section>h1.s$+hr)*33 -->
	<!-- (section>div.s$)*33 -->
	<!-- (section.s$>div)*33 -->
	<section class="s1">
		<div></div>
		<hr>
	</section>
	<section class="s2">
		<div></div>
		<hr>
	</section>
	<section class="s3">
		<div></div>
		<hr>
	</section>
	<section class="s4">
		<div></div>
		<hr>
	</section>
	<section class="s5">
		<div></div>
		<hr>
	</section>
	<section class="s6">
		<div>
			<a href="">link</a>
		</div>
		<hr>
	</section>
	<section class="s10">
		<div></div>
		<hr>
	</section>
	<section class="s11">
		<div></div>
		<hr>
	</section>
	<section class="s12">
		<div></div>
		<hr>
	</section>
	<section class="s13">
		<div></div>
		<hr>
	</section>
	<section class="s14">
		<div></div>
		<hr>
	</section>
	<section class="s15">
		<div></div>
		<hr>
	</section>
	<section class="s16">
		<div></div>
		<hr>
	</section>
	<section class="s17">
		<div></div>
		<hr>
	</section>
	<section class="s18">
		<div></div>
		<hr>
	</section>
	<section class="s19">
		<div></div>
		<hr>
	</section>
	<section class="s20">
		<div></div>
		<hr>
	</section>
	<section class="s21">
		<div></div>
		<hr>
	</section>
	<section class="s22">
		<div></div>
		<hr>
	</section>
	<section class="s23">
		<div></div>
		<hr>
	</section>
	<section class="s24">
		<div></div>
		<hr>
	</section>
	<section class="s25">
		<div></div>
		<hr>
	</section>
	<section class="s26">
		<div></div>
		<hr>
	</section>
	<section class="s27">
		<div></div>
		<hr>
	</section>
	<section class="s28">
		<div></div>
		<hr>
	</section>
	<section class="s29">
		<div></div>
		<hr>
	</section>
	<section class="s30">
		<div></div>
		<hr>
	</section>
	<section class="s31">
		<div></div>
		<hr>
	</section>
	<section class="s32">
		<div></div>
		<hr>
	</section>
	<section class="s33">
		<div></div>
		<hr>
	</section>
	

</body>
</html>