<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>Scss</title>
</head>
<body>
	<section class="s1">
		<div>s1.变量</div>
		<hr>
	</section>
	<section class="s2">
		<div>s2.嵌套</div>
		<hr>
	</section>
	<section class="s3">
		<div>s3.嵌套调用父选择器</div>
		<hr>
	</section>
	<section class="s4">
		<div>s4.嵌套属性</div>
		<hr>
	</section>
	<section class="s5">
		<div>s5.mixin 混合</div>
		<hr>
	</section>
	<section class="s6">
		<div>
			<a href="">s6.extend 继承</a>
		</div>
		<hr>
	</section>
	<section class="s10">
		<div>10.Interpolation 插值 </div>
		<hr>
	</section>
	<section class="s11">
		<div>11.@if 选择语句</div>
		<hr>
	</section>
	<section class="s12">
		<div>12.@for 有序循环语句 </div>
		
	</section>
	<hr>
	<section class="s13">
		<div>13.@each 无序循环语句 
		</div>
	</section>
	<hr>
	<section class="s14">
		<div>14.while 条件循环</div>
	</section>
	<hr>
	<section class="s15">
		<div>15.function 自定义函数</div>
	</section>
	<hr>
	<section class="s16">
		<div>16.错误提示信息</div>
	</section>
	<hr>

</body>
</html>